/* Start variables */
:root {
    --main-color: #19c8fa;
    --land-text-background :#0f748f99;
    --p-color :#777;
    --section-pading:100px;
}
/* End variables */
/* start global rules */
* {
    -webkit-box-sizing:border-box ;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}

.cont {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .cont {
        width: 750px;
    }    
}
/* medium */
@media (min-width: 992px) {
    .cont {
        width: 970px;
    }    
}
/* large */
@media (min-width: 1200px) {
    .cont {
        width: 1170px;
    }    
}
/* end global rules */
/* Start component */
    .section {
        padding: 100px;
    }
    .main-heading {        
        text-align: center;
    }
    .main-heading h2 {
        position: relative;
        font-size: 40px;
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 70px;
    }
    .main-heading h2::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 2px;
        background-color: black;
        bottom: -30px;
        transform: translatex(-50%);
        left: 50%;
    }
    .main-heading h2::after {
        content: "";
        position: absolute;
        bottom: -38px;
        transform: translatex(-50%);
        left: 50%;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid black;
        background-color: white;
    }
    .main-heading p {
        width: 500px;
        margin: 0 auto 50px;
        color: var(--p-color);
    }
    @media (max-width:767px) {
        .main-heading {
            display: grid;
            flex-direction: column;
            text-align: center;
        }
        .main-heading p {
            max-width: 360px;
        }
    }
/* End component */
/* Start Header */
    header {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 2;
    }
    header .cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 98.25px;
    }
    header .cont::after {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        height: 1px;
        background-color: #a2a2a2;
        bottom: 0;
    }
    header .cont .logo img {
        height: 40px;
    }
    header .cont nav {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
    header .cont nav .toggle {
        color: white;
        font-size: 25px;
    }
    @media (min-width:768px) {
        header .cont nav .toggle {
            display: none;
        }
    }
    header .cont nav ul {
        display: flex;
    }
    @media (max-width:767px) {
        header .cont nav ul {
            display: none;
        }
        header .cont nav .toggle:hover + ul {
            display: flex;
            position: absolute;
            flex-direction: column;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: rgb(0 0 0 / 50%);
        }
        header .cont nav ul li a {
            padding: 15px !important;
            text-align: center;
        }
    }
    header .cont nav ul li a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 15px;
        transition: 0.5s;
        padding: 40px 10px;
        position: relative;
        z-index: 2;
        text-transform: capitalize;
    }
    header .cont nav ul li a.active ,
    header .cont nav ul li a:hover {
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);  
    }
    header .cont nav .form {
        width: 40px;
        height: 30px;
        position: relative;
        margin-left: 70px;
        border-left: 1px solid white;
    }
    header .cont nav .form i {
        position: absolute;
        font-size: 20px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }
    header .cont nav .form i:hover {
        color: var(--main-color);
    }
/* End Header */
/* Start landing */
    .landing {
        min-height: 100vh;
        background-image: url(../images/landing.jpg);
        background-size: cover;
        position: relative;
    }
    .landing .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 40%);
    }
    .landing .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--land-text-background);
        width: 50%;
        padding: 50px;
        color: white;
        display: flex;
        justify-content: flex-end;
    }
    .landing .text .content {
        max-width: 500px;
    }
    @media (max-width:767px) {
        .landing .text {
            width: 100%;
            text-align: center;
        }
        .landing .text .content {
            width: 100%;
        }
    }
    .landing .text .content h2 {
        font-size: 30px;
        line-height: 1.6;
        margin-bottom: 20px;
        font-weight: normal;
    }
    .landing .text .content p {
        font-size: 14px;
        line-height: 2;
    }
    .landing .change-background {
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        color: rgba(255, 255, 255, 0.582);
        cursor: pointer;
    }
    @media (max-width:767px) {
        .landing .change-background {
            display: none;
        }
    }
    .landing .fa-angle-left {
        left: 30px;
    }
    .landing .fa-angle-right {
        right: 30px;
    }
    .landing .bullets {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        display: flex;
        cursor: pointer;
    }
    .landing .bullets li {
    border: 1px solid white;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    }
    .landing .bullets li.active {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
/* End landing */
/* Start Services */
    .services {
        padding-top:var(--section-pading) ;
        padding-bottom: var(--section-pading);
    }
    @media (min-width:768px) {
        .services .cont .serv-cont {
            display: grid;
            grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
            grid-column-gap: 30px ;
            grid-row-gap: 50px ;
        }
    }
    .services .serv-box {
        display: flex;
        padding: 50px;
        transition: 0.5s ease;
    }
    .services .serv-box:hover {
        background-color: #eee;
        border-radius: 15px;
    }
    .services .serv-box i {
        margin-right: 50px;
        font-size: 30px;
    }
    @media (max-width:767px) {
        .services .serv-box {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .services .serv-box i {
            margin: 30px auto 20px;
        }
    }
    .services .serv-box h3 {
        color: var(--main-color);
        margin-bottom: 30px;
        text-transform: capitalize;
    }
    .services .serv-box p {
        color: var(--p-color);
        line-height: 2;
    }
/* End Services */
/* Start design */
    .design {
        padding-top:var(--section-pading) ;
        padding-bottom: var(--section-pading);
        height: 600px;
        position: relative;
        background-image: url(../images/design-features.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .design::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 40%);
    }
    .design .image,
    .design .text {
        position: relative;
        z-index: 2;
        flex: 1;
    }
    .design .image {
        text-align: center;
    }
    .design .image img {
        position: relative;
        bottom: -185px;
    }
    .design .text {
        color: white;
        padding: 50px;
        background-color: var(--land-text-background);
    }
    .design .text h2 {
        font-weight: normal;
        margin-bottom: 40px;
    }
    .design .text ul li {
        padding: 15px 0;
    }
    .design .text ul li::before {
        font-family: "font awesome 5 free";
        content: "\f108";
        font-weight: 900;
        margin-right: 10px;
    }
    @media (max-width:767px) {
        .design .image {
            display: none;
        }
    }
/* End design */
/* Start portfolio */
    .portfolio {
        padding-top:var(--section-pading) ;
        padding-bottom: var(--section-pading); 
    }
    .portfolio .shuffle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .portfolio .shuffle li {
        padding: 10px;
    }
    .portfolio .shuffle li.active {
        background-color: var(--main-color);
        color: white;
        border-radius: 15px;
    }
    .portfolio .imgs-holder {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    .portfolio .imgs-holder .box {
        position: relative;
        overflow:hidden ;
    }
    @media (min-width:768px) {
        .portfolio .imgs-holder .box {
            flex-basis: 50%;
        } 
    }
    @media (min-width:1199px) {
        .portfolio .imgs-holder .box {
            flex-basis: 25%;
        }
    }
    .portfolio .imgs-holder .box:hover .caption {
        bottom: 0;
    }
    .portfolio .imgs-holder .box:hover img {
        transform: rotate(5deg) scale(1.3);
    }
    .portfolio .imgs-holder .box img {
        max-width:100%;
        transition: 0.5s ease;
    }
    .portfolio .imgs-holder .caption {
        position: absolute;
        left: 0;
        background-color: white;
        width: 100%;
        bottom: -100%;
        padding: 20px;
        transition: 0.5s ease;
    }
    .portfolio .imgs-holder .caption h4 {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .portfolio .imgs-holder .caption p {
        color: var(--main-color);
    }
    .portfolio .more {
        background-color: var(--main-color);
        padding: 15px 20px;
        display: block;
        width: fit-content;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 10px;
        margin: 20px auto;
    }
/* End portfolio */
/* Start video */
    .video {
        position: relative;
    }
    .video::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 40%);
    }
    .video video {
        width: 100%;
    }
    .video .text {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        background-color: var(--land-text-background);
        padding: 50px;
        color: white;
    }
    .video .text h2 {
        margin: 0 0 30px;
        font-weight: normal;
    }
    .video .text p {
        margin-bottom: 30px;
    }
    .video .text button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        text-transform: uppercase;
        border: none;
    }
/* End video */
/* start about */
    .about {
        padding-top:var(--section-pading) ;
        overflow: hidden;
        text-align: center;
    }
    .about .image img {
        position: relative;
        margin-bottom: -115px;
        max-width: 100%;
    }
/* end about */
/* start Statistics */
    .Statistics {
        padding-top:var(--section-pading) ;
        padding-bottom:var(--section-pading) ;
        background-image: url(../images/stats.png);
        background-size: cover;
        text-align: center;
        position: relative;
    }
    .Statistics::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 40%);
    }
    .Statistics .cont {
        display: flex;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
    }
    .Statistics .cont .box {
        color: white;
        padding: 50px;
        background-color: var(--land-text-background);

    }
    @media (min-width:768px) {
        .Statistics .cont .box {
            flex-basis: 50%;
        }
    }
    @media (max-width:767px) {
        .Statistics .cont .box {
            flex-basis: 100%;
        }
    }
    @media (min-width:992px) {
        .Statistics .cont .box {
            flex-basis: 25%;
        }
    }
    .Statistics .cont .box i {
        width: 40px;
        height: 40px;
        font-size: 20px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto 30px;
    }
    .Statistics .cont .box .num {
        font-weight: bold;
        font-size: 50px;
        margin: 0 0 20px;
    }
    .Statistics .cont .box p {
        font-size: 14px;
    }
/* End Statistics */
/* start skills */
    .skills {
        padding-top:var(--section-pading) ;
        padding-bottom: var(--section-pading); 
    }
    .skills .cont {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @media (min-width:992px) {
        .skills .cont > div {
            flex-basis: 45%;
        }
    }
    .skills .cont > div > h3 {
        margin: 0 0 30px;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
    }
    .skills .cont > div > p {
        color: var(--p-color);
        line-height: 2;
        margin-bottom: 50px;
        text-align: center;
    }
    .skills .cont .testimonials .box {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
    }
    .skills .cont .testimonials .box img {
        width: 100px;
        border-radius: 50%;
        margin-right: 50px;
    }
    @media (max-width:768px) {
        .skills .cont .testimonials .box {
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
        .skills .cont .testimonials .box img {
            margin: 0 auto 30px;
        }
    }
    .skills .cont .testimonials .text {
        line-height: 1.8;
        border-bottom: 1px solid #ccc;
    }
    .skills .cont .testimonials .a7a {
        color: var(--p-color);
        text-align: right;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .skills .cont .testimonials .bullets {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .skills .cont .testimonials .bullets li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #aaa;
        margin-right: 10px;
    }
    .skills .cont .testimonials .bullets li.active {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
    .skills .cont .skill-holder {
        margin-bottom: 40px;
    }
    .skills .cont .skill-holder h4 {
        margin-bottom: 15px;
        font-weight: normal;
        text-transform: uppercase;
    }
    .skills .cont .skill-holder .sklaya {
        background-color: #a2a2a2;
        height: 30px;
    }
    .skills .cont .skill-holder span {
        display: block;
        background-color: var(--main-color);
        height: 100%;
        position: relative;
    }
    .skills .cont .skill-holder span::before {
        content: attr(data-progress);
        position: absolute;
        background-color: black;
        color: white;
        top: -37px;
        right: -18px;
        padding: 4px;
        border-radius: 8px;
    }
    .skills .cont .skill-holder span::after {
        content: "";
        border-width: 9px;
        border-style: solid;
        border-color: black transparent transparent transparent;
        position: absolute;
        top: -11px;
        right: -9px;
    }
    .quote {
        background-image: url(../images/quote.jpg);
        padding-top:var(--section-pading) ;
        padding-bottom: var(--section-pading);
        background-size: cover;
        text-align: center;
        position: relative;
        color: white;
    }
    .quote::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 75%);
    }
    .quote .cont {
        position: relative;
        text-transform: capitalize;
    }
    .quote .cont q {
        font-size: 30px;
        display: block;
        margin-bottom: 20px;
    }
/* end skills */
/* start pricing */
.pricing {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 30px;
}
.pricing .plans .plan {
    text-align: center;
    background-color: #fcfcfc;
    /* border: 1px solid var(--main-color); */
}
.pricing .plans .plan .head {
    padding: 30px 15px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
}
.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
}
.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 10px;
    font-weight: normal;
}
.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 25px;
    position: relative;
    right: -5px;
    font-weight: normal;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 145px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    transform: translatex(-50%);
    bottom: 0;
}
.pricing .plans .plan .foot a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 20px auto;
    text-transform: capitalize;
    transition: 0.5s ease;
}
.pricing .plans .plan .foot a:hover {
    color: white;
    background-color: var(--main-color);
    border-radius: 15px;
}
.pricing .contact-text {
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
}
.pricing .contact-link {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: var(--main-color);
    width: fit-content;
    padding: 15px 30px;
    color: white;
    transition: 0.5s ease;
    text-transform: capitalize;
}
.pricing .contact-link:hover {
    border-radius: 15px;
    background-color: white;
    color: black;
    border: 1px solid var(--main-color);
}
/* end pricing */
/* start subscribe */
.subscribe {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
}
.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.subscribe .cont {
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width:992px) {
    .subscribe .cont {
        flex-direction: column;
    }
}
.subscribe .cont .form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe .cont .form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.subscribe .cont .form input[type="email"] {
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid white;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    border-right:none ;
    color: white;
}
.subscribe .cont .form input[type="submit"] {
    width: 130px;
    border: 1px solid white;
    text-transform: uppercase;
    background: none;
    color: white;
    border-left: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.subscribe .cont .form input[type="email"]:focus ,
.subscribe .cont .form input[type="submit"]:focus {
    outline: none;
}
.subscribe .cont .form input[type="submit"]:hover {
    background-color: var(--main-color);
    color: white;
}
.subscribe .cont .form::placeholder {
    color: white;
}
.subscribe .cont p {
    padding-left: 50px;
    line-height: 1.8;
    text-transform: capitalize;
}
@media (max-width:992px) {
    .subscribe .cont p {
        margin: 30px auto;
    }
}
/* end subscribe */
/* start contact */
.contact {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px) {
    .contact .content {
        flex-direction: column;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content form .main-input:focus {
    outline: none;
}
.contact .content form textarea {
    height: 200px;
}
.contact .content form input[type="submit"] {
    margin-left: auto;
    display: flex;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}
.contact .content form input[type="submit"]:hover {
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 1px solid var(--main-color);
}
@media (max-width:767px) {
    .contact .content form input[type="submit"] {
        margin-right: auto;
    }
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width:767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 20px;
    }
}
.contact .content .info .touch h4 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
}
.contact .content .info .touch .phone {
    display: block;
    margin-bottom: 10px;
    color: var(--p-color);
}
.contact .content .info .address h4 {
    margin: 85px 0px 20px;
    font-size: 18px;
    font-weight: normal;
}
@media (max-width:767px) {
    .contact .content .info .address h4 {
        margin: 30px 0px 20px;
    }
}
.contact .content .info .address address {
    color: var(--p-color);
    line-height: 1.8;
}
/* end contact */
/* start footer */
.footer {
    padding-top: calc(var(--section-pading)/2);
    padding-bottom: calc(var(--section-pading)/2);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.footer .cont {
    position: relative;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}
.footer .cont img {
    height: 40px;
    margin-bottom: 20px;
}
.footer .cont p:not(.copy) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 30px auto;
    font-size: 22px;
}
.footer .cont .icons i {
    padding: 20px;
    margin-bottom: 30px;
}
.footer .cont .icons i:first-child:hover {
    color: #1877f2;
}
.footer .cont .icons i:nth-child(2):hover {
    color: rgb(29, 155, 240);
}
.footer .cont .icons i:nth-child(3):hover {
    color: wheat;
}
.footer .cont .icons i:last-child:hover {
    color: #0a66c2;
}
.footer .cont .copy {
    margin-top: 30px;
}
.footer .cont .copy span {
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */